svg {
  opacity: 0;
}

/* Style for all paths initially */
.about-section svg path {
  stroke: black;
  fill: black;
  fill-opacity: 0;
}

@keyframes drawStroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillIn {
  to {
    fill-opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.focus-lines svg path {
  stroke: black;
  stroke-width: 1;
}

.focus-lines {
  opacity: 0;
  transition: 1.5s ease;
}

.main-svg {
  opacity: 1;
}

@keyframes drawFocusLines {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes unDrawFocusLines {
  from {
    stroke-dashoffset: 0;
  }
}

.main-svg path {
  opacity: 0;
}

.main-svg path.letter {
  fill-opacity: 0;
}
